doctype html
html

    head
        meta(charset="utf-8")
        title Another Games - Slot

        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="format-detection" content="telephone=no")
        meta(name="format-detection" content="address=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="HandheldFriendly" content="true")

        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(http-equiv="imagetoolbar" content="no")

        link(href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet")

        link(rel="icon" type="image/x-icon" href="favicon.ico")

    body
        #game
            #fakeButton.closed 
            #popup.closed
                img(src='static/img/content/HD/preloader/popup.png')
                h2
                p
            #darkness.closed
            section#settings.closed
                .section
                    .title Audio
                    .volumeContainer
                        |   Volume
                        img.voiceImg.marginLeft(src='static/img/content/settings/soundMinus.png')
                        input#volume(type='range', min='0', max='100', value='100')
                        img.voiceImg(src='static/img/content/settings/soundPlus.png')
                    .marginBottom
                        input#checkSound.checkbox(type='checkbox')
                        label(for='checkSound') Sound effects
                    .marginBottom
                        input#checkMusic.checkbox(type='checkbox')
                        label(for='checkMusic') Music
                    .title Options
                    .marginBottom
                        input#fastSpin.checkbox(type='checkbox')
                        label(for='fastSpin') Fast Spin
                    .marginBottom
                        input#optionAutoplay5.checkbox(type='checkbox')
                        label(for='optionAutoplay5') Auto transition
                    .marginBottom
                .section
                    .title Stop Autoplay
                    .marginBottom
                        input#optionAutoplay1.checkbox(type='checkbox')
                        label(for='optionAutoplay1') On single of at least
                        input#optionAutoplayVal1.inputText(type='number', value='0' min='0')
                    .marginBottom
                        input#optionAutoplay2.checkbox(type='checkbox')
                        label(for='optionAutoplay2') If cash increases by
                        input#optionAutoplayVal2.inputText(type='number', value='0' min='0')
                    .marginBottom
                        input#optionAutoplay3.checkbox(type='checkbox')
                        label(for='optionAutoplay3') If cash decreases by
                        input#optionAutoplayVal3.inputText(type='number', value='0' min='0')
                    .marginBottom
                        input#optionAutoplay4.checkbox(type='checkbox')
                        label(for='optionAutoplay4') When entering Free Spins
                    .title Info
                    .btnContainer
                        button#btnRules Rules
                        button#settingsSave Save

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js')
        script(src='%=static=%js/separate-js/SaveCPU.js')
        script(src='%=static=%js/separate-js/phaser-spine.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
