doctype html
html

    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title Another Games - Slot
        //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="format-detection" content="telephone=no")
        meta(name="format-detection" content="address=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(http-equiv="imagetoolbar" content="no")
        meta(name="HandheldFriendly" content="true")

        link(href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet")

        link(rel="icon" type="image/x-icon" href="favicon.ico")

    body
        style.
            #settings {
                position: absolute;
                width: 1670px;
                border: 1px rgba(151, 151, 151, 0.3) solid;
                border-radius: 3px;
                background: rgba(0, 0, 0, 0.9);
                font-size: 36px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
            }
            #settings .section {
                float: left;
                width: calc(50% - 80px);
                padding: 0 40px;
                text-align: left;
            }
            #settings .title {
                background: rgba(255, 255, 255, 0.18);
                padding: 18px 32px;
                margin: 46px 0;
                border-radius: 5px;
                font-size: 45px;
            }
            .volumeContainer {
                padding: 31px 0 62px 0;
            }
            .checkbox {
              vertical-align: top;
              margin: 0 3px 0 0;
            }
            .checkbox + label {
              cursor: pointer;
            }
            .checkbox:not(checked) {
              position: absolute;
              opacity: 0;
            }
            .checkbox:not(checked) + label {
              position: relative;
              padding: 0 0 0 110px;
            }
            .checkbox:not(checked) + label:before {
              content: '';
              position: absolute;
              top: 0px;
              left: 0;
              width: 80px;
              height: 36px;
              border-radius: 17px;
              background: #535353;
              box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
            }
            .checkbox:not(checked) + label:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 3px;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: #FFF;
                box-shadow: 0 2px 5px rgba(0,0,0,.3);
                transition: all .2s;
            }
            .checkbox:checked + label:before {
              background: #7ec710;
            }
            .checkbox:checked + label:after {
              left: 47px;
            }
            .checkbox:focus + label:before {
              box-shadow: 0 0 0 3px rgba(255,255,0,.5);
            }
            input[type=range] {
                -webkit-appearance: none;
                appearance: none;
                border-radius: 8px;
                width: 350px;
                height: 14px;
                background: rgba(126,199,16,1);
                /*
                background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(126,199,16,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(126,199,16,1)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(126,199,16,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(126,199,16,1) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(126,199,16,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(126,199,16,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7ec710', GradientType=1 );
                */
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: #FFF;
                box-shadow: 0 2px 5px rgba(0,0,0,.3);
            }
            .marginBottom {
                    margin-bottom: 25px;
            }
            .btnContainer {
                text-align: center;
            }
            button {
                width: 200px;
                margin: 0 10px;
                border: none;
                border-radius: 5px;
                padding: 10px;
            }
            #btnRules {
                background: #9d9f29;
            }
            #btnHistory {
                background: #559b21;
            }
            #settingsSave {
                background: white;
                color: black;
                margin: 45px;
                margin-top: 100px;
            }
            .voiceImg {
                width: 80px;
                margin: -17px 21px;
            }
            .marginLeft {
                margin-left: 45px;
            }
            .inputText {
                background: white;
                color: black;
                width: 160px;
                text-align: center;
                border-radius: 12px;
                position: absolute;
                right: 42px;
            }
        #game
            section(class="history closed")
                iframe(src="http://casino.bossgs.org/userinfo/index.html" class="history__iframe")
                button(class="history__button") Close
            section#settings
                div.section
                    .title Audio
                    .volumeContainer
                        |   Volume
                        img.voiceImg.marginLeft(src='static/img/content/settings/soundMinus.png')
                        input#volume(type='range', min='0', max='100', value='100')
                        img.voiceImg(src='static/img/content/settings/soundPlus.png')
                    .marginBottom
                        input#checkSound.checkbox(type='checkbox')
                        label(for='checkSound') Sound
                    .marginBottom
                        input#checkMusic.checkbox(type='checkbox')
                        label(for='checkMusic') Music
                    .title Options
                    input#fastSpin.checkbox(type='checkbox')
                    label(for='fastSpin') Fast Spin
                div.section
                    .title Stop Autoplay
                    .marginBottom
                        input#optionAutoplay1.checkbox(type='checkbox')
                        label(for='optionAutoplay1') On single of at least
                        input#optionAutoplay1.inputText(type='text', value='0')
                    .marginBottom
                        input#optionAutoplay2.checkbox(type='checkbox')
                        label(for='optionAutoplay2') If cash increasesby
                        input#optionAutoplay2.inputText(type='text', value='0')
                    .marginBottom
                        input#optionAutoplay3.checkbox(type='checkbox')
                        label(for='optionAutoplay3') If cash decreases by
                        input#optionAutoplay3.inputText(type='text', value='0')
                    .marginBottom
                        input#optionAutoplay4.checkbox(type='checkbox')
                        label(for='optionAutoplay4') When entering Free Spins
                    .title Info
                    .btnContainer
                        button#btnHistory History
                        button#btnRules Rules
                button#settingsSave Save

        script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='%=static=%js/separate-js/phaser-spine.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
