core-slot-backup_ver-Tue_Dec_13_2016_14_05_15
node_modules
dev
docs
builds

.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc

.idea
npm-debug.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*
