// Common styles of the project

html, body {
    height: 100%;
    background: black;
    & .ios {
        height: 2500px; // Hack for iOS
    }
}

body:not(.ios) {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes blinker {
  50% { opacity: 0; }
}

#game {
    background: black;
    width: 100%;
    max-height: 100%;
    text-align: center;
    & canvas {
        display: block;
        max-width: 100%;
        width: 100%;
        margin: 0 auto !important;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    & > div:not(#darkness) {
        display: flex;
        align-items: center;
    }
}

.closed {
    display: none !important;
}

#darkness {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#fakeButton {
    z-index: 12;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01);
}

#popup {
    margin: 0;
    z-index: 11;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#popup h2{
    margin: 0;
    position: absolute;
    font: 3vw arial;
    box-sizing: border-box;
    padding: 0 10%;
    width: 100%;
    color: #fff;
}

#popup img{
    max-width: 100%;
}

#popup p{
    margin: 0;
    font: 1.5vw arial;
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    color: #fff;
}

#settings {
    display: flex;
    justify-content: space-around;
    z-index: 11;
    position: absolute;
    width: 70%;
    min-width: 700px;
    padding: 50px 40px;
    border: 1px rgba(151, 151, 151, 0.3) solid;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.9);
    font-size: calc(0.5vw + 10px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    & .section {
        box-sizing: border-box;
        width: 48%;
        padding: 0 40px;
        text-align: left;
    }
    & .title {
        background: rgba(255, 255, 255, 0.18);
        padding: 10px 0;
        margin: 20px 0;
        border-radius: 5px;
        font-size: calc( 0.5vw + 10px);
        text-align: center;
    }
    & input {
        outline: none;
    }
    & input[type=range] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 8px;
        width: calc(100% - 350px);
        height: 14px;
        background: #7ec710;
        min-width: 100px;
    }
    & input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: #FFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

}

.volumeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
}

#volume {
    position: relative;
    margin: 10px 60px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -5px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
    }
    &::before {
        left: -50px;
        background-image:url(http://casino.bossgs.org/monstersushi/static/img/content/settings/soundMinus.png);
    }
    &::after {
        right: -50px;
        background-image:url(http://casino.bossgs.org/monstersushi/static/img/content/settings/soundPlus.png);
    }
}

.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    &+label {
        cursor: pointer;
    }
    &:not(checked) {
        position: absolute;
        opacity: 0;
    }
    &:not(checked)+label {
        display: inline-block;
        position: relative;
        padding: 0 0 0 70px;
        width: 50%;
        margin-bottom: 10px;
    }
    &:not(checked)+label:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: calc(1vw + 40px);
        height: calc(1vw + 10px);
        border-radius: 17px;
        background: #535353;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    }
    &:not(checked)+label:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 0;
        width: calc(1vw + 10px);
        height: calc(1vw + 10px);
        border-radius: 100%;
        background: #FFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -webkit-transition: all .2s;
        transition: all .2s;
    }
    &:checked+label:before {
        background: #7ec710;
    }
    &:checked+label:after {
        left: 30px;
    }
    &:focus+label:before {
        box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
    }
}

.marginBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.marginLeft {
    margin-left: 45px;
}

.btnContainer {
    text-align: center;
}

button {
    font-size: calc(0.4vw + 12px);
    max-width: 200px;
    min-width: 60px;
    min-height: 40px;
    width: 6vw;
    height: 4vw;
    max-height: 100px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#btnRules {
    background: #9d9f29;
}

#settingsSave {
    background: white;
    color: black;
    margin-bottom: 5px;
}

.voiceImg {
    max-width: 80px;
    display: none;
}

.inputText {
    padding-left: 17px;
    background: white;
    color: black;
    width: calc(55% - 120px);
    min-width: 35px;
    text-align: center;
    border-radius: 12px;
    vertical-align: top;
}
